<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
</head>
<body>
	<div class="signup">
		<h3>註冊 Sign Up</h3>
		<form>
			<input type="text" id="fullName" name="fullName" placeholder="使用者全名"
				required>
			<div class="tab"></div>
			<input type="text" id="username" name="username" placeholder="帳號"
				required>
			<div class="tab"></div>
			<input type="text" id="password" name="password" placeholder="密碼"
				required>
			<div class="tab"></div>
			<input type="button" value="註冊" onclick="register()"> <input
				type="button" value="登入帳號" onclick="loginPage()">
		</form>
	</div>
	<script src="/js/login.js"></script>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"
		integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
		crossorigin="anonymous"></script>
</body>
</html>